<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %> <%= __('Hello') %> <%= greeting %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <p><a href="/users">list users</a></p>
  <p><a href="/login">login</a></p>
  <p><a href="/signout">logout</a></p>
  <p><a href="/auth">auth</a></p>
  <p><a href="/es">es</a></p>
  <p><a href="/en">en</a></p>
</body>

</html>