<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <p>password: <%= password %></p>
    <p>email: <%= email %></p>
    <p>age: <%= age %></p>
    <p><a href="/users">list users</a></p>
  </body>
</html>
